<mat-toolbar color="primary"> {{"CANDIDATES"|oTranslate}}</mat-toolbar>
<o-grid #grid cols=3 attr="candidates" service="candidates" entity="candidate" keys="ID"
  columns="ID;PHOTO;NAME;SURNAME;EMAIL,BIRTHDAY;DNI;PHONE;EMAIL;EDUCATION;SPECIALTIES;STATUS;ORIGIN;WAGE_LEVEL;EXPERIENCE_LEVEL;PROFILE;COMMENT;LINKEDIN"
  visible-columns="PHOTO;NAME;SURNAME;EMAIL,BIRTHDAY;PHONE;EMAIL;EDUCATION;STATUS;SPECIALTIES;WAGE_LEVEL;ORIGIN;EXPERIENCE_LEVEL;PROFILE;COMMENT;LINKEDIN"
  pagination-controls="false" orderable=yes sortable-columns="NAME;EMAIL" page-size-options="24;32;64">
  <o-grid-item *ngFor="let list of grid.dataArray">
    <o-column layout-padding class="container-item">
      <div class=card fxLayout="column">
        <o-image attr="candidateImage" empty-image="assets/images/no-image.png" show-controls="false" auto-fit="true"
          data={{list.PHOTO}}>
        </o-image>
        <span>
          <mat-icon>account_circle</mat-icon> {{list.NAME}} {{list.SURNAME}}
        </span>
        <span>
          <mat-icon>email </mat-icon>
          {{ list.EMAIL }}
        </span>
        <span>
          <mat-icon>business_center </mat-icon>
          {{ list.SPECIALTIES }}
        </span>
      </div>

    </o-column>
  </o-grid-item>
</o-grid>