<o-form service="candidates" entity="curriculum" keys="ID"
  columns="ID;EXPERIENCE;IDIOM;DRIVING_LICENSE;CAR;HOME_WORK;TRAVELLING;PROGRAMING_LANGUAGES"
  visible-columns="EXPERIENCE;IDIOM;DRIVING_LICENSE;CAR;HOME_WORK;TRAVELLING;PROGRAMING_LANGUAGES" header-actions="no"
  show-header-navigation="no" header-actions="R;U">
  <o-integer-input attr="ID" sql-type="INTEGER" enabled="no"></o-integer-input>
  <o-row>
    <o-text-input class="input-padding" attr="EXPERIENCE" fxFlex="50"></o-text-input>
    <o-text-input class="input-padding" attr="PROGRAMING_LANGUAGES" fxFlex="50"></o-text-input>
  </o-row>

  <o-row>
    <o-text-input class="input-padding" attr="IDIOM" fxFlex="50"></o-text-input>
    <o-text-input class="input-padding" attr="DRIVING_LICENSE" fxFlex="50"></o-text-input>
  </o-row>
  <o-row>
    <o-checkbox attr="CAR" boolean-type="boolean" read-only="no" false-value="false" true-value="true" fxFlex="33">
    </o-checkbox>
    <o-checkbox attr="HOME_WORK" boolean-type="boolean" read-only="no" false-value="false" true-value="true"
      fxFlex="33">
    </o-checkbox>
    <o-checkbox attr="TRAVELLING" boolean-type="boolean" read-only="no" false-value="false" true-value="true"
      fxFlex="33">
    </o-checkbox>

  </o-row>


</o-form>