<div fxFlex>
    <o-table fxFlex title="{{ 'OFFERS' | oTranslate }}" attr="offers" service="offers" entity="offer" keys="ID"
        columns="ID;ACRONYM;DESCRIPTION;APPLICANT;OFFER_STATUS;CREATION_DATE;START_DATE;END_DATE"
        visible-columns="ACRONYM;APPLICANT;START_DATE;END_DATE;DESCRIPTION;OFFER_STATUS" query-rows="20">
        <o-table-column attr="START_DATE" title="STARTDATE" type="date" format="LL"></o-table-column>
        <o-table-column attr="END_DATE" title="ENDDATE" type="date" format="LL"></o-table-column>
    </o-table>
</div>